[settings]
import_heading_future=Future?? imports
import_heading_stdlib=Standart lib imports
import_heading_thirdparty=Thirdparty imports
import_heading_localfolder=Projects imports
known_django=backend
known_local_folder=products,users,make_pc,tests
sections=FUTURE,STDLIB,THIRDPARTY,LOCALFOLDER